body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 1.25em;
  color: #ffffff;
}

a:hover{
  color: #0142EF;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 50%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

h1 {
  text-transform: capitalize;
  font-size: 3em;
  line-height: 3em;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
}

.author {
  font-size: 1.25em;
  line-height: 3.25em;
}

.story-text {
  font-size: 1.15em;
  line-height: 1.1em;
}
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
